*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .box
{
    height: 300px;
    width: 300px;
}
#box1{
    background-color: aqua;
    padding: 130px 150px 150px 130px;
    margin: 20px 10px 20px 30px;
    font-style: oblique;
}
#box2{
    background-color: rgb(98, 168, 168);
    padding: 130px 150px 120px 100px;
    font-style: italic;
    color: blanchedalmond;
}
#box3{
    background-color: blue;
    padding: 130px 120px 120px 100px;
    font-style: oblique;
    color: rgb(185, 185, 192);
} */